# ==============================
# KEYCLOAK SETTINGS
# ==============================
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=keycloak-demo
KEYCLOAK_CLIENT_ID=demo-api
KEYCLOAK_AUDIENCE=account
KEYCLOAK_ALGORITHM=RS256

# ==============================
# FASTAPI SETTINGS
# ==============================
APP_HOST=127.0.0.1
APP_PORT=8000
